.App {
  text-align: center;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;

}
.green {
  background-color: green;
}

.circle {
  width: 60px;
  height: 60px;
  border-radius: 60px;
}

.wrapper {
  gap: 20px;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 5px;
  width: fit-content;
  padding: 10px;
  margin: 10px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
